<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>
            <main>
                <h2>Creación de producto</h2>
                <div class="create-form">
                    <form action="/products/create" method="POST" enctype="multipart/form-data">
                        <fieldset>
                            <label for="product-image" class="label-style">Imagen del producto</label>
                            <input name="image" type="file" class="create-form-input" id="product-image">
                        </fieldset>
                        <fieldset>
                            <label for="product-name" class="label-style">Nombre del producto</label>
                            <input class="create-form-input" name="name" type="text" id="product-name">
                        </fieldset>
                        <fieldset>
                            <label for="product-description" class="label-style">Descripcion del producto</label>
                            <input class="create-form-input" name="description" type="text" id="product-description">
                        </fieldset>
                        <fieldset>
                            <label for="product-category" class="label-style">Categoría del producto</label>
                            <select class="create-form-input" name="id_category" id="product-category">
                                <% for (let i=0; i< categorias.length; i++){ %>
                                    <option value="<%=categorias[i].id%>">
                                        <%=categorias[i].name%>
                                    </option>
                                    <% }%> </select>
                        </fieldset>
                        <fieldset>
                            <label for="product-brand" class="label-style">Marca del producto</label>
                            <select class="create-form-input" name="id_brand" id="product-brand">
                                <% for (let i=0; i< brand.length; i++){ %>
                                    <option value="<%=brand[i].id%>">
                                        <%=brand[i].name%>
                                    </option>
                                    <% }%> </select>
                        </fieldset>
                        <fieldset>
                            <label for="product-price" class="label-style">Precio del producto</label>
                            <input class="create-form-input" name="price" type="number" id="product-price">
                        </fieldset>
                        <button type="submit" class="create-button">CREAR</button>
                    </form>
                </div>
            </main>
            <%- include('../partials/footer.ejs') %>
    </body>

</html>