<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
        <h2>Detalle de producto</h2>
        <section>
            <article>
                <img class="producto" src="/img/<%= product.image %>" alt="imagen del producto">
                    <h2 class="titulo">Producto: <%= product.name %></p>
                        <p class="desc">Descripcion: <%= product.description %></p>
                        <p class="categoria">Categoria: <%= product.Category.name %></p> 
                        <p class="brand">Marca: <%= product.brands.name %></p> 
                        <p class="precio"><label>$  </label><%= product.price %></p>
            </article>
        </section>
        <!-- <form action="/products/delete/<%= product.id %>?_method=delete" method="POST"> -->
            <button type="submit" class="enviar">Agregar al carrito</button>
        <!-- </form> -->
    <%- include('../partials/footer.ejs') %>
</body>
</html>