<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <h1>Listado de productos</h1>
        <h2>Nuestros Productos</h2>
        <ul id="products-list">
            <% product.forEach(product => { %>
                <li class="product-container">
                    <article>
                        <a href="/products/productDetail/<%= product.id %>" class="detail">
                            <img class="products-image" src="/img/<%= product.image %>" alt="imagen del producto">
                                <div class="linea"></div>
                                    <h2 class="titulo"><%= product.name %> </h2>
                                        <p class="products-desc"><%= product.description %> </p>
                                        <p class="categoria"><%= product.Category.name %></p>
                                        <p class="categoria"><%= product.brands.name %></p>
                                        <p class="precio"><label>$ </label><%= product.price %></p>
                        </a>
                    </article>
                </li>
            <% }) %>
        </ul>
        <% if (locals.isLogged) { %>
    <button type="submit" class="create-button"><a href="/products/create">Crear producto</a></button>
    <% } %>
</main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>