<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
        <h2>Detalle de producto</h2>
        <section>
            <img class="producto" src="/img/<%= product.imagen %>" alt="imagen del producto">
            <h2 class="titulo"><%= product.nombre %></p>
            <p class="desc"><%= product.descripcion %></p>
            <p class="categoria"><%= product.categoria %></p>
            <p class="precio"><label>$  </label><%= product.precio %></p>
        </section>
        <form action="/products/delete/<%= product.id %>?_method=delete" method="POST">
            <button type="submit">Borrar</button>
        </form>
    <%- include('../partials/footer.ejs') %>
</body>
</html>