<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/styles.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <title>Pawsome</title>
    </head>
<body>
    <%- include('../partials/header.ejs') %>
        <h2>Detalle de producto</h2>
        <section>
            <img class="producto-img" src="" alt="imagen del producto">
            <h2 class="titulo-a"><%= product.nombre %></p>
            <p class="desc-a"><%= product.descripcion %></p>
            <p class="categoria-a"><%= product.categoria %></p>
            <p class="precio-a"><%= product.precio %></p>
        </section>
        <form action="/products/delete/<%= product.id %>?_method=delete" method="POST">
            <button type="submit">Borrar</button>
        </form>
    <%- include('../partials/footer.ejs') %>
</body>
</html>