<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <h1>Listado de productos</h1>
        <h2>Nuestros Productos</h2>
        <ul id="products-list">
            <% for(let i=0; i<products.length; i++) {%>
                <li class="product-container">
                    <article>
                        <a href="/products/productDetail/<%= products[i].id %>" class="detail">
                            <img class="products-image" src="/img/<%= products[i].imagen %>" alt="imagen del producto">
                                <div class="linea"></div>
                                    <h2 class="titulo"><%= products[i].nombre %> </h2>
                                        <p class="desc"><%= products[i].descripcion %> </p>
                                        <p class="categoria"><%= products[i].categoria %></p>
                                        <p class="precio"><label>$  </label><%= products[i].precio %></p>
                        </a>
                    </article>
                </li>
            <% } %>
        </ul>
        <!-- <section>
            <article>
                <img class="producto" src="/img/4-pro-plan-sterilized-cat.png">
                <h2>Purina Pro Plan Sterilized</h2>
                <p class="desc">Alimento completo y balanceado para gatos adultos castrados o esterilizados. La esterilización y/o castración conduce a cambios que pueden predisponer a un aumento de peso.
                OptiRenal® ayuda a mantener el estado corporal óptimo.
                </p>
                <p class="precio">$450</p>
            </article>
            <article>
                <img class="producto" src="/img/3-pro-plan-adult-cat.png">
                <div class="linea"></div>
                <h2>Purina Pro Plan</h2>
                <p class="desc">Alimento completo y balanceado para gatos adultos de todas las razas. Es una tecnología exclusiva, con una combinación de prebióticos y antioxidantes naturales, que ayudan a optimizar la digestión y 
                a mantener fuertes las defensas naturales de tu gato, protegiendo su sistema inmunológico contra las amenazas externas.</p>
                <p class="precio">$2.100</p>
            </article>
            <article>
                <img class="producto" src="/img/6-pro-plan-puppy-razas-medianas.png">
                <div class="linea"></div>
                <h2>Purina Pro Plan Puppy</h2>
                </div>
                <p class="desc">Protección durante su primer año de vida. Formulado con carne fresca de pollo como ingrediente principal, además de vitaminas y minerales esenciales, PRO PLAN® Puppy Razas Medianas ofrece una óptima nutrición para cachorros en crecimiento.</p>
                <p class="precio">$2.450</p>
            </article>
            <article>
                <img class="producto" src="/img/5-pro-plan-adult-razas-medianas.png">
                <div class="linea"></div>
                <h2>Purina Pro Plan Adulto</h2>
                </div>
                <p class="desc">Provee nutrición de avanzada que ayuda a los perros de razas medianas de 1 a 7 años de edad a mantenerse fuertes y llenos de vitalidad.</p>
                <p class="precio">$2.600</p>
            </article>
            <article>
                <img class="producto" src="/img/palitos-de-pollo.png">
                <div class="linea"></div>
                <h2>Palitos de Pollo</h2>
                </div>
                <p class="desc">Palitos horneados con sabor a pollo. El snack ideal para sacar a pasear a tu perro. Producto libre de colorantes artificiales</p>
                <p class="precio">$1.200</p>
            </article>
            <article>
                <img class="producto" src="/img/hueso.png">
                <div class="linea"></div>
                <h2>Hueso</h2>
                <p class="desc">El Hueso Flotante de la Línea Water Action es un juguete antistress para divertirse en el agua con tus mascotas. 100% flotantes, resistente al agua y a la 
                exposición del sol.</p>
                <p class="precio">$1.450</p>
            </article>
            <article>
                <img class="producto" src="/img/9-osspret-pack-shampoo-para-cachorros.png">
                <div class="linea"></div>
                <h2>Osspret Pack Shampoo Para Cachorros</h2>
                <p class="desc">Higiene en general de cachorros y animales de piel delicada. Para ser usado en caninos y felinos.</p>
                <p class="precio">$1.100</p>
            </article>
            <article>
                <img class="producto" src="/img/FRONTLINE-SPRAY-100ML.jpg">
                <div class="linea"></div>
                <h2>Frontline Spray</h2>
                <p class="desc">Actúa con velocidad en las primeras 4 horas tras la aplicación matando pulgas, garrapatas y piojos. FRONTLINE®Spray se puede aplicar en cachorros de gatos y 
                perros a partir de los 2 días de vida.</p>
                <p class="precio">$1.300</p>
            </article>
            <article>
                <img class="producto" src="/img/Nexgard-25-a-50kg.png">
                <div class="linea"></div>
                <h2>Nexgard Comprimidos (Perros)</h2>
                <p class="desc">Nexgard es una tableta masticable con sabor a carne y puede administrarse con y sin comida. 
                    Protege al perro frente a pulgas y garrapatas. </p>
                <p class="precio">$1.300</p>
            </article>
            <article>
                <img class="producto" src="/img/vhn-dermatology-hypoallergenic-dog-dry-packshot-b1.jpg">
                <div class="linea"></div>
                <h2>ROYAL CANIN® Hypoallergenic</h2>
                <p class="desc">Formulado específicamente para ayudar a perros adultos con intolerancias y alergias alimentarias o sensibilidades dermatológicas.</p>
                <p class="precio">$1.300</p>
            </article>
        </section> -->
    </main> 
    <a href="/products/create">Crear nuevo producto</a>
    <%- include('../partials/footer.ejs') %>
</body>
</html>