<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head.ejs') %>
<body>
<%- include('../partials/header.ejs') %>
<main>
    <h2>Edición de producto</h2>
    <div class="create-form">
    <form action="/products/productEdit/<%=Product.id%>" method="POST" enctype="multipart/form-data">
        <fieldset>
            <label for="product-image" class="label-style">Imagen del producto</label>
            <input value="<%= Product.image %>" class="create-form-input" name="imagen" type="file" id="product-image">
        </fieldset>
        <fieldset>
            <label for="product-name" class="label-style">Nombre del producto</label>
            <input value="<%= Product.name %>" class="create-form-input" name="nombre" type="text" id="product-name">
        </fieldset>
        <fieldset>
            <label for="product-description" class="label-style">Descripcion del producto</label>
            <input value="<%= Product.description %>" class="create-form-input" name="descripcion" type="text" id="product-description">
        </fieldset>
        
        <fieldset>
            <label for="product-price" class="label-style">Precio del producto</label>
            <input value="<%= Product.price %>" class="create-form-input" name="precio" type="number" id="product-price">
        </fieldset>
        <fieldset>
            <label for="product-category" class="label-style">Categoría del producto</label>
            <select class="create-form-input" name="id_category" id="product-category">
                <% for (let i=0; i< categorias.length; i++){ %>
                    <% if(categorias[i].id == Product.id_category){ %>
                    <option value="<%= categorias[i].id %>" selected>
                        <%=categorias[i].name%>
                    </option>
                    <%} else {%>
                        <option value="<%= categorias[i].id %>">
                            <%=categorias[i].name%>
                    <% }%> 
                    <% }%> 
            </select>
        </fieldset>

        <button type="submit" class="create-button">EDITAR</button>
    </form>
</div>
</main>
<%- include('../partials/footer.ejs') %>
</body>
</html>