<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <h1><i class="fas fa-solid fa-paw"></i> Ingrese aquí</h1>
        <h2>Para tener una mejor experiencia y beneficios exclusivos para ti y para tu mascota.</h2>
        <div class="registro">
        <form class="formulario" method="POST" id="loginForm">
            <input type="email" class="dato <%= locals.errors && errors.email ? 'no-valid' : null %>"
            name="email" id="email" placeholder="CORREO ELECTRONICO *" value="<%= locals.oldData ? oldData.email : null%>" require>
            <% if (locals.errors && errors.email) { %>
                <div class="mensaje-error">
                    <%= errors.email.msg %>
                </div>
            <% } %>
            <input type="password" class="dato" name="password" id="password" placeholder="CONTRASEÑA *" require>
        <div class="aceptar">
            <input type="checkbox" name="remember_user" class="checkbox">
            <label>Recordar mi usuario</label>
        </div>
        <div class="submit">
            <button type="submit" class="enviar" id="button">Ingresar</button>
        </div>
        <h2>¿Todavía no sos parte? Registrate <a href="/users/register">AQUÍ</a></h2>
        </form>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>