<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>
            <div class="container">
                <div class="row">
                    <div>
                        <div class="user-image"><img src="/img/users/<%= user.image %>" href="user-image"></div>
                        <h2 class="user-header">
                            <%= user.firstName %>
                        </h2>
                        <div class="data-container">
                            <p class="user-data">NOMBRE: <%= user.firstName %> </p>
                            <p class="user-data">APELLIDO: <%= user.lastName %></p>
                            <!-- <p class="user-data">TIPO: </p> -->
                            <p class="user-data">EMAIL: <%= user.email %></p>
                        </div>
                    </div>

                    <%- include('../partials/footer.ejs') %>
    </body>

</html>