<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="container" styles="margin-top: 40px;">
        <div class="row">
            <div class="col-md-3">
                <div class="user-image"><img src="/img/users/<%= user.image %> "></div>  
                <h2 class="user-header"><%= user.firstName %> </h2>
                <br>
                <p><b class ="user-data">NOMBRE:</b> <%= user.firstName %> </p>
                <p><b class ="user-data">APELLIDO:</b> <%= user.lastName %> </p>
                <p><b class ="user-data">TIPO:</b> <%= user.id_role %> </p>
                <p><b class ="user-data">EMAIL:</b> <%= user.email %> </p>
                <div></div>
            </div>
        </div>
    </div>
     
    <%- include('../partials/footer.ejs') %>
</body>
</html>