<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="container" styles="margin-top: 40px;">
        <div class="row">
            <div class="col-md-3">
                <h2><%= user.firstName %> </h2>
                <img src="/img/users/<%= user.image %> ">   
                <br>
                <p>NOMBRE: <%= user.firstName %> </p>
                <p>APELLIDO: <%= user.lastName %> </p>
                <p>TIPO: <%= user.id_role %> </p>
                <p>EMAIL: <%= user.email %> </p>
                <div></div>
            </div>
        </div>
    </div>
     
    <%- include('../partials/footer.ejs') %>
</body>
</html>


