<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>
            <h2 class="user-header">Usuarios</h2>
            <ul class="user-name">
                <% for (let i=0; i < users.length; i++) { %>
                    <li>
                        <a class="user-l" href="/users/userProfile/<%= users[i].id %>">
                            <%= users[i].lastName %>
                                <%= users[i].firstName %>
                        </a>
                    </li>
                    <% } %>
            </ul>


            <%- include('../partials/footer.ejs') %>
    </body>

</html>